<div class="topic-index-wrapper">
  <div class="container">
    <% @topics.each do |topic| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="topic-index-single">
            <h2 class="topic-author">
              <%= topic.user.name %>
            </h2>
            <%= image_tag topic.image.url %>
            <% if !topic.favorite_users.include?(current_user) %>
              <%= link_to favorites_path(topic_id: topic.id), method: :post do %>
                <%= image_tag 'icons/heart-black.png', class: 'topic-index-icon' %>
              <% end %>
            <% end %>

              <%= image_tag 'icons/comment.png', class: 'topic-index-icon' %>
              <h4>コメント</h4>
            <% topic.comments.each do |comment| %>
              <% unless comment.body == nil %>
              <p class="topic-text">
                <%= comment.body %>
              </p>
              <% end %>
            <% end %>

            <!-- コメント投稿 -->
            <%= form_for ([topic, topic.comments.build]) do |f| %>
            <div class="field">
              <%= f.text_area :body, cols: 20, rows: 2, class: "form-control" %>
            </div><br/>
              <%= f.submit "コメントする", class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
